body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: aquamarine;
}

.staff {
  border: brown;
  display: flex;
  justify-content: center;
}

.card {
  border: 1px line solid;
  border: blue ;
  border-bottom: brown;
  margin-right: 2px;
}

card-img-top {
  border-radius: 50%;
}

.card:hover{
  background-color: yellow;
  /* box-shadow: darkgray; */
  box-shadow: 12px 12px 5px 1px rgba(0, 0, 255, .2);
}
.staff-info{
  /* margin: 0 10rem; */
  border-bottom:solid 1px blue;
}
.staff-details {
  justify-content: center;
}