body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #f6fafa;
  color: rgba(16, 29, 207, 0.972);
  
}

.staff {
  border: brown;
  display: flex;
  justify-content: center;
}

.card {
  border: 1px line solid;
  background-color: rgb(177, 208, 216) ;
  /* border-bottom: brown; */
  margin-right: 2px;
}

.card-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 0.2em;
}

/* .fas {
  padding-right: 3em;
} */
.card-img-top {
  width:75%;
  position: relative;
  top: -3em;
  z-index: 99;
}

.staff-name {
  text-transform: uppercase;
  font-weight: 600;
}
div i {
  font-weight: normal;
}

.job-title {
  text-transform: capitalize;
}
/* below not currently working */
/* .card-img-overlay {
  position: relative;
  top:-50%;
} */

a:hover {
  text-decoration: none;
}

.card:hover{
  background-color: rgb(43, 176, 209);
  /* box-shadow: darkgray; */
  box-shadow: 12px 12px 5px 1px rgba(0, 0, 255, .2);
}
.staff-info{
  /* margin: 0 10rem; */
  border-bottom:solid 1px rgba(69, 126, 233, 0.705);
}
.staff-details {
  justify-content: center;
  line-height: 3;
}